<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel="stylesheet" href="../stylesheets/header.css">
  <link rel="stylesheet" href="../stylesheets/sendItForm.css">
</head>

<% include ./partials/header %>

<body>

  <h1>
    Wanna Send a Parcel Fill Form and Continue.
  </h1>


  <div class="form-style-2">
    <div class="form-style-2-heading">Provide your information</div>
    <form action="/" method="post">
      <label for="field1"><span>Parcel Name <span class="required">*</span></span><input type="text" class="input-field"
          name="parcelname" value="" /></label>
      <label for="field2"><span>Weight <span class="required">*</span></span><input type="text" class="input-field"
          name="weight" value="" /></label>
      <label for="field2"><span>PickUp From: <span class="required">*</span></span><input type="text" class="input-field"
          name="from" value="" /></label>
      <label for="field2"><span>Delivery Address: <span class="required">*</span></span><input type="text" class="input-field"
          name="deliverto" value="" /></label>

      <label for="field5"><span>Message <span class="required">*</span></span><textarea name="message" class="textarea-field"></textarea></label>

      <label><span> </span><input type="submit" value="Submit" /></label>
    </form>
  </div>


  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHa1FR9hz8x0JSTQV8Fw5YsVQFuOCLBEY&callback=initMap"
    type="text/javascript"></script>
  <script src="../javascripts/map.js"></script>
  <div id="map"></div>
</body>

</html>